
.nav{
    width: 100%;
    height: 80px;
    background:#fff;
}
.nav-right{
    width: 50%;
    height: 80px;
    overflow: hidden;
    float:right;
    text-align: justify;
    padding:0 15px;
    line-height: 80px;
}

.nav-right:after {
    /*float:right;*/
    content: "";
    display: inline-block;
    width: 100%;
    font-size: 0;
    line-height: 0;

}
.nav-right a{
    display: inline-block;
    color:#000;
}
.nav-right li a{
    color:#000;
}

.nav-small{
    position: absolute;
    top:0;
    right:0;
    line-height: 80px;
    color:#fff;
}

.nav-small i{
    color:#000;
    font-size: 30px;
    padding-right:24px;
}

.navcolor{
    background:#F1F1F1;

}
.met{
    width: 100%;
    height:120px;

}
.met h3{
    font-size: 28px;
    text-align: center;
    line-height: 120px;
    color:#F67A82;
    font-weight: normal;
}


.item{
    width: 100%;
    padding-top:79%;
    position: relative;
}

.mask{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: red;
    overflow: hidden;
}

.row-kuan{
    padding:0;
}
.mask img{
    width: 100%;
    height: 100%;
    transition: all .5s ease;

}
.mask .box-text{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background-color:rgba(0,0,0,.5);
    padding:30px;
}

.mask:hover img{
    transform: scale(1.1,1.1);
}
.text-list{

    width:150px;
    height: 200px;
    /*background-color: pink;*/
    position: absolute;
    top:0;left:0;
    right:0;bottom:0;
    margin:auto;
    text-align: center;
    color:#fff;

}

.text-list .line{
    margin:15px 0;

}

.text-list p{
    margin-bottom: 20px;
    font-size: 24px;
}

.liulan{
    margin: 0 auto;
    width: 60px;
    padding:6px 6px;
    border:1px solid #fff;
}

.liulan a{
    color:#fff;
}


























.kong{
    width: 100%;
    height: 30px;
    background:#fff;
    margin:20px 0;
}

.up{
    margin-bottom:80px;

}
.footer .mets,p{
    text-align: center;
    margin-bottom: 8px;

}
.mets{

}
.footer p{
    color:#666;
    /*margin-bottom: 8px;*/
}
.mets i{
    margin:10px;
    font-size: 25px;
}

.mets i:nth-child(1){
    color:#83B944;
}
.mets i:nth-child(2){
    color:#62A8EA;
}
.mets i:nth-child(3){
    color:#62A8EA;
}

.footer p:nth-child(2){
    color:#62A8EA;
    margin-bottom: 5px;

}


























@media screen and (min-width:1170px) {

    main{
        width: 1170px;
        height:80px;
        margin: 0 auto;
        overflow: hidden;
    }
    .nav-small{
        display: none;
    }
}


@media screen and (max-width:1170px){
    main{
        width: 100%;
        padding:0 24px;
    }

    .nav-right{
        width: 70%;
    }
    .nav-small{
        display: none;
    }

}
@media screen and (max-width:980px){
    .new-bar{
        margin-left:0px;
    }
    .text{
        marginleft:0;
    }
}

@media screen and (max-width:767px) {
    main{
        width: 100%;
        padding:0 24px;
    }
    .text{
        margin-left:0;
    }
    .nav-right{
        display: none;
    }
    .nav-small{
        display:block;
    }
}
